<h3>User and Contents</h3>
<p>In my application, users will be AIT students and faculty members. Contents are the items they want to buy and/or sell.
For eg. New students might want to buy second hand bicycle or notes which are of no use for students about to graduate from AIT.
</p>
<h3>Avoiding SQL injection and XSS attacks</h3>
<p>To avoid sql injection, sql query should not be build dynamically using only strings and string concatenation. Instead, we should use prepared statements in which, the query statement is first sent to the database and compiled. Then later, values are sent on the placeholders. This way any input string is unable to mess with the sql query.
In rails, by following standard practices of active record, our application should be secure against sql injection.
</p>
<p>To avoid xss attacks, all data presented to the user should be properly escaped.</p>

<h3>Securing database passwords</h3>
<p>To secure database passwords, the file containing credentials is kept out of version control and some values in the file are read from the environment.
</p>
<h3>User data model</h3>
<p>The user model should store at least name, email address, student id, preferences (privacy control), role (access control).
For role there might be a separate table along with a join table to map different users to different roles.</p>

<h3>Login Flow</h3>
<%= image_tag("login_flow.png") %>

<h3>Authorization Test</h3>
<div>
<p>To test authorization follow the following steps</p>
<ol>
  <li>Goto Problem set 4 and click login</li>
  <li>For admin email is admin@ait.asia & password is password123. For registered user email is registered@ait.asia & password is registered123. </li>
  <li>Goto <%=link_to 'Home Page', root_path %> and try visiting Problem sets as admin, registered user, and without signing in</li>
  <li>Goto <%=link_to 'Administration', admin_path %> and try visiting as admin, registered user and without signing in. (if you are not admin, you should be redirected to Home page)</li>
</ol>
</div>

<h3>Cucumber BDD test results:</h3>
<%= image_tag('cucumber-test.png') %>

<h3>Successful Jenkins build</h3>
<p>Visit <%= link_to 'this jenkins link', 'https://ci.vgl-ait.org/jenkins/job/WAE-2016/job/web5/11/console' %> to see the jenkins build information.</p>