<p id="notice"><%= notice %></p>

<h1>Quotations</h1>

<%= form_tag(ps_two_quotations_path, method: "get") do %>
  <%= label_tag(:search, "Search") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Go") %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Authors</th>
      <th>Categories</th>
      <th>Quote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ps_two_quotations.each do |ps_two_quotation| %>
      <tr>
        <td><%= ps_two_quotation.ps_two_authors.name %></td>
        <td><%= ps_two_quotation.ps_two_categories.name %></td>
        <td><%= ps_two_quotation.quote %></td>
        <td><%= link_to 'Show', ps_two_quotation %></td>
        <td><%= link_to 'Edit', edit_ps_two_quotation_path(ps_two_quotation) %></td>
        <td><%= link_to 'Destroy', ps_two_quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Kill', controller: 'ps_two/quotations', action: 'kill', id: ps_two_quotation.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation', new_ps_two_quotation_path %>
<%= link_to 'Clear Personalization', ps_two_quotations_reset_path %>
