<p id="notice"><%= notice %></p>

<p>
  <strong>Author Name:</strong>
  <%= @ps_two_quotation.ps_two_authors.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ps_two_quotation.ps_two_categories.name %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @ps_two_quotation.quote %>
</p>

<%= link_to 'Edit', edit_ps_two_quotation_path(@ps_two_quotation) %> |
<%= link_to 'Back', ps_two_quotations_path %>
