<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<h1>Top 10 Youtube trend</h1>
<body>
<%begin%>
<% @i = 1%>
<% @page.css('a.yt-uix-sessionlink.yt-uix-tile-link.yt-ui-ellipsis.yt-ui-ellipsis-2.spf-link').take(10).each do |el| %>
    <p>No.<%= @i %></p>
    <%= @title = "Title:  "+el.text %><br>
    <a href="<%= @link = "http://www.youtube.com"+ el['href'] %>"><%= @link = "http://www.youtube.com"+ el['href'] %></a><br>
    <% @img = el['href'][9..19] %>
    <img src="<%= @imglink = "https://img.youtube.com/vi/"+@img+"/0.jpg" %>"><br>
    <% @i = @i+1 %>
    <% end%>
  <%rescue Exception%>
  <%=puts=("About to devide by 0")%>

<% end %>
</body>
