<%= form_for(product, {:multipart => true}) do |f| %>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <% if product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
              <% product.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

      <div class="checkbox">
        <label>
          <%= f.check_box :is_published, {:checked => 'checked'}, 1, 0 %> Is Published
        </label>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :category, "Select Category" %>
        <%#= f.text_field :ps_two_categories_id %>
        <%#= f.collection_select(:ps_two_categories_id, PsTwo::Category.all + [PsTwo::Category.new(id: -1, name: "New Category")], :id, :name, {:selected => '-1'}) %>
        <%#= f.collection_select(:id, Category.all, :id, :name, {:prompt => '--- Select category ---'}, {:multiple => true, :name => 'product[category_ids][]'}) %>
        <%= f.collection_select(:id, Category.all, :id, :name, {}, {:multiple => true, :name => 'product[category_ids][]', :class => 'form-control'}) %>
        <%#= text_field_tag :new_product_category, nil, {:placeholder => "Add New Category"} %>
      </div>

      <div class="form-group">
        <%= f.label :selling_price %>
        <%= f.text_field :selling_price, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :photos %>
        <%= f.file_field :photos, {:name => 'product[product_photos][link]'} %>
      </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <%= f.label :standard_cost %>
        <%= f.text_field :standard_cost, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :weight, 'Weight (in Kg)' %>
        <%= f.text_field :weight, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :color %>
        <%= f.text_field :color, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :quantity_total %>
        <%= f.number_field :quantity_total, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :quantity_sold %>
        <%= f.number_field :quantity_sold, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :product_no %>
        <%= f.text_field :product_no, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <!--<%# fields_for @product_photos do |pp|  #puts pp.inspect %>-->
    <!--<div class="form-group">-->
      <!--<#%= pp.label :link %>-->
      <!--<%#= pp.file_field :link %>-->
    <!--</div>-->
  <!--<%# end %>-->


  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
