<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @message_template.message %>
</p>

<p>
  <strong>Name:</strong>
  <%= @message_template.name %>
</p>

<%= link_to 'Edit', edit_message_template_path(@message_template) %> |
<%= link_to 'Back', message_templates_path %>
