<h1>PsSix</h1>

<div>
  <h3>Reviews by Me</h3>
<ul>
  <li><%= link_to 'Review of Web 10', ps_six_web_10_review_path %></li>
  <li><%= link_to 'Review of Web 11', ps_six_web_11_review_path %></li>
</ul>
</div>


<br>
<hr>
<div>
  <h3>Review about this website</h3>
  <ul>
    <li><%= link_to 'Feedback from Potential Customer', ps_six_feedback_by_customer_path %></li>
    <li><%= link_to 'Feedback from Web 14', ps_six_feedback_by_web_14_path %></li>
    <li><%= link_to 'Feedback from Web 17', ps_six_feedback_by_web_17_path %></li>
  </ul>
</div>