<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<h1>Web Application Engineering Problems</h1>

<ol>
  <li><%= link_to "Problem Set 1", ps_one_path %></li>
  <li><%= link_to "Problem Set 2", ps_two_path %></li>
  <li><%= link_to "Problem Set 3", ps_three_path %></li>
  <li><%= link_to "Problem Set 4", ps_four_path %></li>
  <li><%= link_to "Problem Set 5", ps_five_path %></li>
  <li><%= link_to "Problem Set 6", ps_six_path %></li>
</ol>
